
@{
    ViewData["Title"] = "Index";
}
@model IEnumerable<ProductDto>

<table class="table table-bordered">
        <thead>
            <tr>
            <th scope="col">Id</th>
            <th scope="col">Ürün Adı</th>
            <th scope="col">Ürün Açıklaması</th>
            <th scope="col">Fiyat</th>
            <th scope="col">Resim</th>
            <th scope="col">Stok</th>
            <th scope="col">Kategori</th>
            <th scope="col">Oluşturulma Tarihi</th>
            <th scope="col">Aksiyon</th>
            </tr>
        </thead>
        <tbody>

        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Price</td>
                <td>@item.Image</td>
                <td>@item.Stock</td>
                <td>@item.CategoryId</td>
                <td>@item.CreateDate</td>
                <td>
                    <a class="btn btn-warning" asp-controller="Products" asp-action="Update" asp-route-id="@item.Id">Güncelle</a>
                    <a class="btn btn-danger" asp-controller="Products" asp-action="Remove" asp-route-id="@item.Id">Sil</a>
                </td>
            </tr>
        }

        </tbody>
    </table>

