
@{
    ViewData["Title"] = "Index";
}
@model IEnumerable<PaymentTypeDto>

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Tip Adı</th>
            <th scope="col">Oluşturulma Tarihi</th>
            <th scope="col">Aksiyon</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.TypeName</td>
                <td>@item.CreateDate</td>
                <td>
                    <a class="btn btn-warning" asp-controller="PaymentType" asp-action="Update" asp-route-id="@item.Id">Güncelle</a>
                    <a class="btn btn-danger" asp-controller="PaymentType" asp-action="Remove" asp-route-id="@item.Id">Sil</a>
                </td>
            </tr>
        }

    </tbody>
</table>
